{{#if_not message ''}}
<div class="alert alert-{{alertLevel}}" role="alert">
  {{message}}
</div>
{{/if_not}}
<div class="d-flex flex-column flex-shrink-0 h-100 bg-light p-2" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/profile" class="nav-link {{basic}}" aria-current="page">
          Basic
        </a>
      </li>
      <li>
        <a href="/profile/password" class="nav-link {{password}}">
          Password
        </a>
      </li>
    </ul>
  </div>