<div>
    <main class="w-auto mt-3 text-center">
    <h1>Welcome to the SCIAC.</h1>
        <p class="lead">The season begins September 3, 2022.</p>
        <p class="lead">
        <a href="https://docs.google.com/spreadsheets/d/1Q_z7MEMq3XAXnK_2VxsgqnqkljQN-kb0MOu2FOzZw9k/edit#gid=696641603" class="btn btn-lg btn-primary fw-bold border-white bg-blue">Schedule</a></p>
    </main>
</div>