<form action="/confirm" method="post" class="w-50 mt-3 mx-auto">
  <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail address">
  </div>
  <br />
  <div>
  <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>