<div>
    <main class="w-auto mt-3 text-center">
    <h1>Welcome to the SCIAC.</h1>
        <p class="lead">Please select from the following options:</p>
        <p class="lead">
        <a href="https://form.jotform.com/timengland07/profilesheet" class="btn btn-lg btn-primary fw-bold border-white bg-blue">Apply</a></p>
        <p class="lead">
        <a href="/login" class="btn btn-lg btn-primary fw-bold border-white bg-blue">Login</a></p>
    </main>
</div>