
<form action="/users/register" method="post" class="w-50 mt-3 mx-auto">
<div class="form-group">
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
  </div>
  <br />
  <div class="form-group">
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
  </div>
  <br />
  <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" placeholder="Username">
  </div>
  <br />
  <div class="form-group">
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <br />
  <div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>