<div class="hstack gap-3 h-100 w-100 p-0">
    {{> reports}}
    <div class="vstack">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Week</th>
                <th scope="col">Report</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="https://docs.google.com/spreadsheets/d/1xSYtpYiEnXBpwswZTrixIVitpsSdtiT2y2cZbof6xOY/edit#gid=0">Link</a></td>
                <td><a href="https://www.appsheet.com/start/aa13801e-4aa6-4746-8ca7-4b80b11b1c0c">Browser app</a></td>
                <td><a href="https://www.appsheet.com/newshortcut/aa13801e-4aa6-4746-8ca7-4b80b11b1c0c">Native app</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="https://docs.google.com/spreadsheets/d/1F1H50ER5dH67NCCqvBzGtoe2C3WGRYeSELzD4P0Zqd0/edit#gid=0">Link</a></td>
                <td><a href="https://www.appsheet.com/start/420c2bb1-1348-4b77-beb8-72dd40e417b7">Browser app</a></td>
                <td><a href="https://www.appsheet.com/newshortcut/420c2bb1-1348-4b77-beb8-72dd40e417b7">Native app</a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="https://docs.google.com/spreadsheets/d/15w9dZGCkJfCal91c8NyBhpz-b1o4j5Rl1Vpq4R8s9mo/edit#gid=0">Link</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a href="https://docs.google.com/spreadsheets/d/10x4OFOGremMcLstjhEHI48CCHkKqTDjBgPqdMpl99GQ/edit#gid=0">Link</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><a href="https://docs.google.com/spreadsheets/d/12DDKN4d4cCl-nfkWfwPs-IQqVlgMCtSAtMx81VRKJDU/edit">Link</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><a href="https://docs.google.com/spreadsheets/d/1luvFtK5Iovd43rouYvJCcOFoMYgKnkUknTcPQ_cpMrk/">Link</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Not available</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Not available</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Not available</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Not available</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Not available</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>