<div class="hstack gap-3 h-100 w-100 p-0">
    {{> reports}}
    <div class="vstack">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Document</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><a href="https://docs.google.com/spreadsheets/d/1Q_z7MEMq3XAXnK_2VxsgqnqkljQN-kb0MOu2FOzZw9k/edit#gid=696641603">
                SCIAC Master Schedule
                </a>
                </th>
            </tr>
            <tr>
                <th scope="row"><a href="/files/crew-of-7-mechanics.pdf">
                Crew of 7 mechanics
                </a>
                </th>
            </tr>
            <tr>
                <th scope="row"><a href="https://www1.arbitersports.com/ArbiterOne/Account/SwitchViews?groupId=107910&userType=3">
                SCIAC Arbiter
                </a>
                </th>
            </tr>
            <tr>
                <th scope="row"><a href="https://www.hudl.com/library/412361">
                SCIAC Hudl
                </a>
                </th>
            </tr>
            <tr>
                <th scope="row"><a href="/files/sciac-directory.xlsx">
                SCIAC Directory (Excel format)
                </a>
                </th>
            </tr>
            <tr>
                <th scope="row"><a href="https://chapmanu.co1.qualtrics.com/jfe/form/SV_eVx4H7TOlNNChsa">
                Chapman University health screening (for all officials working CU games)
                </a>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
</div>