<div class="hstack gap-3 h-100 w-100 p-0">
    {{> reports}}
    <div class="vstack">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Week</th>
                <th scope="col">Quiz</th>
                <th scope="col">Answers</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="/files/w1test.pdf">Quiz 1</a></td>
                <td><a href="/files/w1answers.pdf">Answers 1</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><a href="/files/w2test.pdf">Quiz 2</a></td>
                <td><a href="/files/w2answers.pdf">Answers 2</a>"</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><a href="/files/w3test.pdf">Quiz 3</a></td>
                <td><a href="/files/w3answers.pdf">Answers 3</a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><a href="/files/w4test.pdf">Quiz 4</a></td>
                <td><a href="/files/w4answers.pdf">Answers 4</a></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><a href="/files/w5test.pdf">Quiz 5</a></td>
                <td><a href="/files/w5answers.pdf">Answers 5</a></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><a href="/files/w6test.pdf">Quiz 6</a></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Not available</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Not available</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Not available</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Not available</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Not available</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>