<div class="hstack gap-3 h-100 w-100 p-0">
    {{> reports}}
    <div class="vstack">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Week</th>
                <th scope="col">Report</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Link upcoming</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>