
<form action="/users/create" method="post" class="w-50 mt-3 mx-auto">
<div class="form-group">
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
  </div>
  <br />
  <div class="form-group">
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
  </div>
  <br />
  <div class="form-group">
    <input type="email" class="form-control" id="email" name="email" placeholder="Username">
  </div>
  <br />
  <div class="form-group">
  <select class="form-select" id="userLevel" name="userLevel">
  <option selected>Select user level</option>
  <option value="guest">Guest</option>
  <option value="official">Official</option>
  <option value="admin">Admin</option>
  </select>
  </div>
  <br />
  <div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>